/* global css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  margin-bottom: 600px;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
ul, li{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
  display: block;
  height: auto;
}