/* Global css */
@import './global/global.css';
@import './utilidades/tipografia.css';
@import './utilidades/colors.css';

@import './global/header.css';
@import './global/footer.css';

/* utilidades */
@import './utilidades/components.css';

/* Home */
@import './home/intro.css';
@import './home/tech.css';
@import './home/partners.css';
@import './home/depoimento.css';

/* bikes */
@import './bicicletas/bicicletas-lista.css';
@import './bicicletas/bicicletas.css';

/* seguros */
@import './seguros/seguros.css';
@import './seguros/vantagens.css';
@import './seguros/questions.css';

/* bicicletas */
@import './bicicleta-page/bicicicleta.css';
@import './bicicleta-page/seguro-page.css';

/* contato */
@import './contato/contato.css';
@import './contato/lojas.css';
@import './contato/form.css';

@import './termos/termos.css';

/* orcamento */
@import './orcamento/orcamento.css'