.texto-grande{
  font-size: 6.4rem;
  line-height: 1.125;
  font-family: 'Poppins';
  font-weight: 600;
}
.texto-medio{
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: "Roboto";
  font-weight: 400;
}
