/* header */

.header-bg{
  background-color: var(--cor-12);
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header-menu{
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}
.header-menu li a{
  padding: 1.6rem 0 ;
  display: inline-block;
  position: relative;
}
.header-menu li a::after{
  content: '';
  display: block;
  position: absolute;
  height: .2rem;
  width: 0;
  left: 0;
  background-color: var(--cor-0);
  margin-top: .5rem;
  transition: .3s;
}
.header-menu li a:hover::after{
  width: 100%;
  right: 100%;
}

/* media queries */

@media(max-width: 800px){
    .header-menu li a{
      background-color: var(--cor-11);
      border-radius: .4rem;
      padding: 1.2rem 1.6rem;
    }
    .header-menu{
      gap: 2rem;
    }
    .header-menu li a:hover{
      background: var(--cor-10);
    }
    .header-menu li a:hover::after{
      display: none;
    }
}
@media(max-width: 600px){
  .header-menu{
    gap: 1.2rem
  }
  .header-menu li a{
    font-size: 1.4rem;
    padding: .8rem 1.2rem;
  }

}