/* questions */

.questions{
  padding-top: 12rem ;
  padding-bottom: 12rem ;
}
.questions h2{
  margin-bottom: 6rem;
}
.questions dl > div{
  padding: 2rem;
  border-radius: .4rem;
}
.questions dl > div:nth-child(odd){
  background-color: var(--cor-1);
}
.questions dl button::before{
  content: '';
  display: inline-block;
  width: 1.2rem;
  height: .8rem;
  background-color: var(--cor-p1);
}
.questions dl button::after{
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: .6rem;
  background-image: url(../../img/icones/seta-abrir.svg);
  transition: .3s;
}
.questions dl button:hover::after, 
.questions button[aria-expanded="true"]:after{
  transform: rotate(180deg);
}
.questions button{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: .8rem;
  cursor: pointer; 
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}
.questions dd {
  display: none;
}
.questions dd.ativa {
  display: block;
}
.questions dd{
  padding-left: 2rem;
  padding-top: 1.6rem;
  max-width: 80ch;
}
 
/* media queries */

@media(max-width: 800px){
  .questions{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .questions h2{
    margin-bottom: 4rem;
  }
}